
	<div class="modal">
		<div class="modal-body">
			<div class="modal-item-box bg-white p-3 box-border-radius">
				<div id="modal-title">방 만들기</div>
				<input id="room-title" class="form-control mt-2" type="text" placeholder="제목">
				
				<div class="d-flex mt-2">
					<input id="startDate" type="text" class="form-control" placeholder="날짜" readonly>
					<div class="ml-1 mr-1 d-flex align-items-center">~</div>
					<input id="endDate" type="text" class="form-control" placeholder="날짜" readonly>
				</div>
				
				<div class="d-flex justify-content-end p-1">
					<button id="addPlanBtn" class="btn btn-success">추가</button>
					<button id="closeModalBtn" class="btn btn-danger ml-2">닫기</button>
				</div>
			</div>
		</div>
	</div>