<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/main.html}">
    
    <th:block layout:fragment="css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
		<link rel="stylesheet" href="/static/css/mainPage.css">
	</th:block>
    
    <th:block layout:fragment="contents">
	    <section class="w-100">
	    	메인화면
	    	<div class="text-center">
	    		스와이퍼가 생길 거에요
	    	</div>
	    	
	    	<div class="d-flex justify-content-between mt-5">
	    		<div class="infoList">
	    			관광지 정보가 올라갈 거에요
	    			
	    			<div class="d-flex mt-3 clickPage">
	    				<div class="col-4"><img class="w-100" src="https://cdn.pixabay.com/photo/2024/01/01/23/41/trees-8482254_1280.jpg"></div>
	    				<div class="col-8">관광지 명을 나타냅니다1</div>
	    			</div>
	    			
	    			<div class="d-flex mt-3 clickPage">
	    				<div class="col-4"><img class="w-100" src="https://cdn.pixabay.com/photo/2024/01/01/23/41/trees-8482254_1280.jpg"></div>
	    				<div class="col-8">관광지 명을 나타냅니다2</div>
	    			</div>
	    			
	    			<div class="d-flex mt-3 clickPage">
	    				<div class="col-4"><img class="w-100" src="https://cdn.pixabay.com/photo/2024/01/01/23/41/trees-8482254_1280.jpg"></div>
	    				<div class="col-8">관광지 명을 나타냅니다3</div>
	    			</div>
	    		</div>
	    		
	    		<div class="infoList">
	    			캠핑장 정보가 올라갈 거에요
	    			
	    			<div class="d-flex mt-3 clickPage">
	    				<div class="col-4"><img class="w-100" src="https://cdn.pixabay.com/photo/2024/01/01/23/41/trees-8482254_1280.jpg"></div>
	    				<div class="col-8">캠핑장 명을 나타냅니다11111111</div>
	    			</div>
	    			
	    			<div class="d-flex mt-3 clickPage">
	    				<div class="col-4"><img class="w-100" src="https://cdn.pixabay.com/photo/2024/01/01/23/41/trees-8482254_1280.jpg"></div>
	    				<div class="col-8">캠핑장 명을 나타냅니다222222</div>
	    			</div>
	    			
	    			<div class="d-flex mt-3 clickPage">
	    				<div class="col-4"><img class="w-100" src="https://cdn.pixabay.com/photo/2024/01/01/23/41/trees-8482254_1280.jpg"></div>
	    				<div class="col-8">캠핑장 명을 나타냅니다3333</div>
	    			</div>
	    		</div>
	    	</div>
	    </section>
    </th:block>
    
    <th:block layout:fragment="script">
    
    </th:block>
</html>