<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/main.html}">
    
    <th:block layout:fragment="css">
<link rel="stylesheet" href="/static/css/boardList.css">
    
    </th:block>
    
    <th:block layout:fragment="contents">
	    <article class="box-center w-100">
	    	<div class="p-5">
	    		<h1 class="text-left">게시판</h1>
	    		
	    		<table class="table text-center mt-3">
	    			<thead>
	    				<tr>
	    					<th class="col-2">작성자</th>
	    					<th class="col-8">제목</th>
	    					<th class="col-2">작성날짜</th>
	    				</tr>
	    			</thead>
	    			
	    			<tbody>
	    				<th:block th:each="board : ${resultList}">
		    				<tr class="boardDetailLocation" th:data-id="${board.id}">
		    					<td th:text="${board.Id}">실험용</td>
		    					<td th:text="${board.title}">실험용 작성글입니다</td>
		    					<td th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd')}">2024-12-27</td>
		    				</tr>
	    				</th:block>
	    			</tbody>
	    		</table>
	    		
	    		<div class="d-flex justify-content-end">
		    		<button id="boardCreateBtn" class="btn btn-secondary">글쓰기</button>   		
	    		</div>
	    		
	    		<div class="text-center">
	    		<!-- 처음으로 -->
	    			<th:block th:unless="${paging.now == 1}">
	    			<a href="/board/list-view?page=1"><<</a>
	    			</th:block>
	    			
	    			<th:block th:if="${paging.now == 1}">
	    			<span><<</span>
	    			</th:block>
	    			
	    		<!-- 이전 그룹으로 -->
	    			<th:block th:unless="${paging.first == 1}" th:with="number = ${paging.first} - 1">
	    			<a th:href="|/board/list-view?page=${number}|"><</a>
	    			</th:block>
	    			
	    			<th:block th:if="${paging.now == 1}">
	    			<span><</span>
	    			</th:block>
	    			
	    		<!-- 첫번째 번호 -->	   		
	    			<th:block th:if="${paging.first != null}">
	    			<a th:text="${paging.first}" th:href="|/board/list-view?page=${paging.first}|">1</a>
	    			</th:block>
	    			
	    		<!-- 두번째 번호 -->	
	    			<th:block th:if="${paging.second != null}">
	    			<a href="#" th:text="${paging.second}" th:href="|/board/list-view?page=${paging.second}|">2</a>
	    			</th:block>
	    			
	    		<!-- 세번째 번호 -->	
	    			<th:block th:if="${paging.third != null}">
	    			<a href="#" th:text="${paging.third}" th:href="|/board/list-view?page=${paging.third}|">3</a>
	    			</th:block>
	    		
	    		<!-- 네번째 번호 -->		
	    			<th:block th:if="${paging.fourth != null}">
	    			<a href="#" th:text="${paging.fourth}" th:href="|/board/list-view?page=${paging.fourth}|">4</a>
	    			</th:block>
	    		
	    		<!-- 다섯번째 번호 -->	
	    			<th:block th:if="${paging.fifth != null}">
	    			<a href="#" th:text="${paging.fifth}" th:href="|/board/list-view?page=${paging.fifth}|">5</a>
	    			</th:block>
	    		
	    		<!-- 다음 그룹으로 -->	
	    			<th:block th:unless="${paging.fifth == paging.end}" th:with="number = ${paging.fifth} + 1">
	    			<a th:href="|/board/list-view?page=${number}|">></a>
	    			</th:block>
	    			
	    			<th:block th:if="${paging.fifth == paging.end}">
	    			<span>></span>
	    			</th:block>
	    			
				<!-- 끝으로 -->
	    			<th:block th:unless="${paging.now == paging.end}">
	    			<a th:href="|/board/list-view?page=${paging.end}|">>></a>
	    			</th:block>
	    			
	    			<th:block th:if="${paging.now == paging.end}">
	    			<span>>></span>
	    			</th:block>
	    		</div>
	    		
	    		<div class="d-flex justify-content-center">	
		    		<div class="input-group mt-3 col-11">
		    			<input class="form-control" type="text">
		    			
		    			<div class="input-group-append">
			    			<button class="btn btn-secondary">검색</button>
		    			</div>
		    		</div>
	    		</div>
	    	</div>
	    </article> 
    </th:block>
    
<script layout:fragment="script">
	$(document).ready(function(){
		$("#boardCreateBtn").on("click",function(){
			location.href = "/main";
		});
		
		$(".boardDetailLocation").on("click",function(){
			let id = $(this).data("id");
			
			alert("id : " + id);
			
			location.href = "/main";
			
		});
	});
</script>
</html>