<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/main.html}">
    
    <th:block layout:fragment="css">
<link rel="stylesheet" href="/static/css/boardList.css">
    
    </th:block>
    
    <th:block layout:fragment="contents">
	    <article class="box-center w-100">
	    	<div class="p-5">
	    		<h1 class="text-left">게시판</h1>
	    		
	    		<table class="table text-center mt-3">
	    			<thead>
	    				<tr>
	    					<th class="col-2">작성자</th>
	    					<th class="col-8">제목</th>
	    					<th class="col-2">작성날짜</th>
	    				</tr>
	    			</thead>
	    			
	    			<tbody>
	    				<th:block th:each="board : ${resultList}">
		    				<tr class="boardDetailLocation" th:data-id="${board.id}">
		    					<td th:text="${board.user.name}">실험용</td>
		    					<td th:text="${board.title}">실험용 작성글입니다</td>
		    					<td th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd')}">2024-12-27</td>
		    				</tr>
	    				</th:block>
	    			</tbody>
	    		</table>
	    		
	    		<div class="d-flex justify-content-end">
		    		<button id="boardCreateBtn" class="btn btn-secondary">글쓰기</button>   		
	    		</div>
	    		
	    		<th:block>
	    		<div class="text-center">
	    		<!-- 처음으로 -->
	    			<th:block th:if="${start != 1}">
		    			<th:block th:if="${search == null}">
		    			<a th:href="|/board/list-view?page=1|"><<</a> 
		    			</th:block>
		    			
		    			<th:block th:unless="${search == null}">
			    			<a th:href="|/board/list-view?page=1&search=${search}|"><<</a>	    				
		    			</th:block>
	    			</th:block>
	    			
	    			<th:block th:unless="${start != 1}">
	    			<span><<</span>
	    			</th:block>
	    			
	    		<!-- 이전 그룹으로 -->
	    			<th:block th:if="${start != 1}" th:with="number = ${start} - 1">
	    				<th:block th:if="${search == null}">
	    					<a th:href="|/board/list-view?page=${number}|"><</a>
	    				</th:block>
	    				
	    				<th:block th:unless="${search == null}">
			    			<a th:href="|/board/list-view?page=${number}&search=${search}|"><</a>		
	    				</th:block>
	    			</th:block>
	    			
	    			<th:block th:if="${start == 1}">
	    			<span><</span>
	    			</th:block>
	    			    			
	    		<!-- 페이징 -->	
	    			<th:block th:each="paging : ${pagingList.pageList}">
	    			
	    				<th:block th:if="${page == paging}">
	    					<span><b th:text="${paging}"></b></span>
	    				</th:block>
	    				
	    				<th:block th:unless="${page == paging}">
	    					<a th:if="${search != null}" th:text="${paging}" th:href="|/board/list-view?page=${paging}&search=${search}|"></a>
	    					<a th:if="${search == null}" th:text="${paging}" th:href="|/board/list-view?page=${paging}|"></a>
	    				</th:block>
	    			</th:block>
	    		<!-- 페이징 -->
	    		
	    		
	    		<!-- 다음 그룹으로 -->	
	    			<th:block th:unless="${(end + 1) > pagingList.allPage}" th:with="number = ${end} + 1">
	    			<a th:if="${search != null}" th:href="|/board/list-view?page=${number}&search=${search}|">></a>
	    			<a th:if="${search == null}" th:href="|/board/list-view?page=${number}|">></a>
	    			</th:block>
	    			
	    			<th:block th:if="${(end + 1) > pagingList.allPage}">
	    			<span>></span>
	    			</th:block>
	    			
				<!-- 끝으로 -->
	    			<th:block th:unless="${end == pagingList.allPage}">
	    			<a th:if="${search != null}" th:href="|/board/list-view?page=${pagingList.allPage}&search=${search}|">>></a>
	    			<a th:if="${search == null}" th:href="|/board/list-view?page=${pagingList.allPage}|">>></a>
	    			</th:block>
	    			
	    			<th:block th:if="${end == pagingList.allPage}">
	    			<span>>></span>
	    			</th:block>
	    		</div>
	    		</th:block>
	    		
	    		<div class="d-flex justify-content-center">	
		    		<div class="input-group mt-3 col-11">
		    			<input id="search" class="form-control" type="text">
		    			
		    			<div class="input-group-append">
			    			<button id="searchBtn" class="btn btn-secondary">검색</button>
		    			</div>
		    		</div>
	    		</div>
	    	</div>
	    </article> 
    </th:block>
    
<script layout:fragment="script">
	$(document).ready(function(){
		$("#searchBtn").on("click", function(){
			let search = $("#search").val();
			
			if(search.length == 0){
				return false;
			}
			
			location.href= "/board/list-view?search=" + search;
		});
		
		$("#boardCreateBtn").on("click",function(){
			location.href = "/board/create-view";
		});
		
		$(".boardDetailLocation").on("click",function(){
			let id = $(this).data("id");
			
			location.href = "/board/detail-view/" + id;
			
		});
	});
</script>
</html>