<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/main.html}">
    
<th:block layout:fragment="css">
<link rel="stylesheet" href="/static/css/boardDetail.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</th:block>
    
    <th:block layout:fragment="contents">
    <article class="box-center w-100 p-5">
    	<div class="p-5">
    		<div id="contentsId" class="d-flex justify-content-between"  th:data-value="${board.id}">
	    		<h2 th:text="${board.title}">제목</h2>
	    		
	    		<span id="session" th:data-session="${session.userId}"></span>
	    		<th:block th:if="${session.userId == board.userId}">
	    		<div>
					<i id="option" class="bi bi-three-dots"></i>
					<ul id="list" class="d-none text-center">
						<li class="option" data-value="update">수정하기</li>
						<li class="option" data-value="delete">삭제하기</li>
					</ul>   
	    		</div>
	    		</th:block>
    		</div>
    		
    		<div class="d-flex justify-content-between mt-3">
    			<small th:text="${board.user.name}">닉네임</small>
				<p th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd')}">작성일 : ~~~~년 ~~월 ~~일</p>
    		</div>
    		
    		<hr id="headHr">
    		
    		<div class="margin-y">
    			<th:block th:if="${board.imagePath != null}">
    			<img th:src="${board.imagePath}" class="img">
    			</th:block>
    			
    			<div th:text="${board.contents}" class="mt-2">
    			내용
    			</div>
    		</div>
    		
    		<hr>
    		
    		<div>
    			<div class="d-flex">
	    			
    				<h3 class="col-3">댓글</h3>
    				<div class="input-group col-9 p-1">
    					<input id="comment" class="form-control" type="text">
    					<div class="input-group-append">
    						<button id="commentBtn" class="btn btn-secondary">게시</button>
    					</div>
    				</div>
    			</div>
    			
    			<div>
    				<th:block th:each="comment : ${board.commentList}">  			
	    			<div class="d-flex mt-3">
	    				<b class="col-2" th:text="${comment.user.name}">닉네임</b>
	    				<div class="col-9" th:text="${comment.contents}">
	    					댓글입니다
	    				</div>
	    				<div class="col-1">
	    					<th:block th:if="${session.userId == comment.userId}">
	    					<i class="bi bi-three-dots comment-three-dot"></i>
	    					<ul class="d-none text-center comment-list">
	    						<li class="list-style-none" th:data-comment-id="${comment.id}">					
								<li class="comment-option" data-value="delete">삭제하기</li>
							</ul> 
							
	    					</th:block>
	    				</div>
	    			</div>
	    			</th:block>
    			</div>
    		</div>
    		
    	</div>
    </article>
    </th:block>
    
<th:block layout:fragment="script">
<script>

	$(document).ready(function(){	
		
		// 댓글 작성
		$("#commentBtn").on("click", function(){
			let comment = $("#comment").val();
			let id = $("#contentsId").data("value");
			let session = $("#session").data("session");
			
			if(session == null){
				alert("로그인을 해주세요");
				return false;
			}
			
			$.ajax({
				type:"post"
				,url:"/comment/create"
				,data:{"contents" : comment
						,"contentId" : id
						,"category" : 1}
				,success:function(response){
					if(response){
						alert("댓글 작성 성공!");
						location.reload();
					}else{
						alert("실패!");
						location.reload();
					}
				}
				,error:function(){
					alert("서버문제");
				}
			});
		});
		// 3dot click 시 목록 보이기
		$("#option").on("click", function(){
			$("#list").removeClass("d-none");
		});
		
		// 3dot 영역, click event 시 목록 사라지기
		$("#list").on("mouseup",function(){
			$("#list").addClass("d-none");
		});
		
		// 리스트에서 선택한 목록 작동 수정, 삭제
		$(".option").on("click",function(){
			let option = $(this).data("value");
			
			let id = $("#contentsId").data("value");
			
			if(option == "update"){
				location.href = "/board/update-view/" + id;
			}else{
				
				if(confirm("게시글을 삭제하시겠습니까?")){
					
					$.ajax({
						type:"delete"
						,url:"/board/delete"
						,data:{"id" : id}
						,success:function(response){
							if(response){
								alert("게시글이 삭제되었습니다");
								location.href = "/board/list-view";
							}else{
								alert("게시글 삭제 실패 : " + response);
							}
							
						}
						,error:function(){
							alert("서버 문제로 삭제 실패");
						}
					});
				}
				
				
			}
		});
		
		// 댓글 click 목록 보이기
		$(".comment-three-dot").on("click", function(){
			$(this).next().removeClass("d-none");
		});
		
		$(".comment-list").on("mouseup",function(){
			$(".comment-list").addClass("d-none");
		});
		
		$(".comment-option").on("click",function(){
			let id = $(this).prev().data("comment-id");
			
			if(confirm("이 댓글을 삭제하겠습니까?")){
				
				$.ajax({
					type:"delete"
					,url:"/comment/delete"
					,data:{
						"contentId" : id
					}
					,success:function(response){
						if(response){
							alert("댓글 삭제완료");
							location.reload();
						}else{
							alert("댓글 삭제 실패");
						}
					}
					,error:function(){
						alert("댓글 삭제 실패");
					}
				});
				
			}
		});
	});

</script>
</th:block>
</html>