		<header class="d-flex bg-yellowGreen align-items-center">
			<div class="col-3 logo">
				<a class="text-dark" href="/main">CampingCall</a>
			</div>
			
			<nav class="col-7">
				<ul class="nav nav-fill">
					<li class="nav-item nav-item-option" href="#">캠핑장</li>
					<li class="nav-item nav-item-option" href="#">관광지</li>
					<li class="nav-item nav-item-option" href="#">계획</li>
					<li class="nav-item nav-item-option" href="#">마이페이지</li>	
				</ul>
			</nav>
			
			<div class="col-2 text-right pr-5">
				<th:block><span>???님 <span class="login-logout">로그아웃</span></span></th:block>
				<th:block><span class="login-logout">로그인</span></th:block>
			</div>
		</header>