@charset "UTF-8";

.bg-yellowGreen{
	background-color:rgb(1, 255, 22);
}

.logo{
	font-size:35px;
}

nav > ul > .nav-item{
	height:70px;
}

.nav-item-option{
	display:flex;
	align-items:center;
	justify-content:center;
	cursor:pointer;
}

.nav-item-option:hover{
	color:white;
	background-color:black;
}

.login-logout{
	cursor:pointer;
}

.login-logout:hover{
	text-decoration:underline;
}