@charset "UTF-8";

.infoList{
	width:45%;
}

#imgWrap{
	position:relative;
}

#imgBanner{
	cursor:pointer;
	z-index:1;
}

#btnWrap{
	position:absolute;
	width:500px;
	height:300px;
	pointer-events: none;
}

.bannerItem{
	color:white;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	pointer-events: auto;  
}

.titleFont{
	font-weight:bold;
	font-size:16px;
	z-index:2;
}

.bannerTitle{
	background: rgba(150,150,150,0.3);
	position:absolute;
	width:100%;
	height:15%;
	font-size:24px;
}

.imgBtn{
	background: rgba(150,150,150,0.1);
	display:flex;
	width:10%;
	font-size:32px;
	cursor:pointer;
	justify-content:center;
	align-items:center;
}


.clickPage{
	font-size:16px;
	padding:1%;
}

.clickPage:hover{
	cursor:pointer;
	background-color: gray;
	color:white;
	font-weight:bold;
}

.list-title{
	font-weight:bold;
	font-size:32px;
}

.plus-list{
	color:gray;
	font-size:12px;
}

.plus-list:hover{
	cursor:pointer;
	text-decoration:underline;
}
