@charset "UTF-8";

.link-text{
	cursor:pointer;
	color : gray;
}

.link-text:hover{
	text-decoration:underline;
}

.border-box{
	border: 2px solid black;
}

.pay-box{
	height:60%;
}

#nameTitle{
	font-size:32px;
}

#payTitle{
	font-size: 28px;
	font-weight : bold;
}

#nullText{
	font-size : 48px;
	color : gray;
}

.campingPlace{
	font-size : 24px;
	font-weight : bold;
}
