@charset "UTF-8";

.box-border{
	border : 2px solid black;
}

.box-border-gary{
	border: 2px solid gray;
}

.box-border-radius{
	border-radius: 5px;
}

.ui-datepicker {
	z-index: 9999 !important;
}

.box-room:hover{
	border : 2px solid red;
}

#title{
	font-size : 48px;
}

.box-title{
	font-size : 28px;
}

.h-350{
	height:350px;
	overflow-y:scroll
}

.invite-title{
	font-size : 26px;
}
