@charset "UTF-8";

#title{
	font-size : 32px;
	font-weight : bold;
	margin-left : 15px;
}

.border-box{
	border : 2px solid gray;
	border-radius : 5px;
}

.scroll{
	overflow-x : scroll;
	width: 1200px;
}

.item-box-size{
	width : 420px ! important;
}

.plan-title{
	font-size:20px;
}

#plan-box{
	height : 650px;
}