@charset "UTF-8";

.connectedSortable{
    border: 1px solid #eee;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
	float: left;
	margin-right: 10px;
}

.connectedSortable li {
  margin: 0 5px 5px 5px;
  padding: 5px;
  font-size: 1.2em;
  width:320px;
  word-break: break-all;
}

#title{
	font-size : 32px;
	font-weight:bold;
}

#plan-box{
	border : 2px solid gray;
	border-radius : 3px;
}

.border-black{
	border : 2px solid black;
}

.overflow-scroll{
	overflow-y:scroll;
}

.items-box{
	width:350px;
	height:500px;
}

.main-plan-box{
	width:1200px;
}
.overflow-x-scroll{
	overflow-x:scroll;
}

#memo{
	height : 250px;
}

.relative{
	position:relative;
}

#searchBox{
	display : none;
	background-color : white;
	position: absolute;
	width : 400px;
	height : 250px;
	z-index : 9999;
	top: 100%;
	overflow-y : scroll;
	padding : 2%;
	border : 2px solid gray;
	border-radius : 5px;
}
