<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/main.html}">
    
<th:block layout:fragment="css">
<link rel="stylesheet" href="/static/css/camp.css">
</th:block>

	<th:block layout:fragment="contents">
		<article>
			<div class="p-3">
				<div class="mt-3">
					<h3>캠핑장</h3>
					<div class="text-secondary">검색어 : <span th:text="${keyword}">검색어</span></div>
				</div>
				
				<div class="input-group mt-3">
					<input id="search" type="text" class="form-control">
					<div class="input-group-append">
						<button id="searchBtn" class="btn btn-secondary">검색</button>
					</div>
				</div>
				
				<hr class="margin-top-minus">
				
				<div>
					<th:block th:each="camp : ${campList}">
					<div class="mt-2 d-flex campList-item click-cursor" th:data-id="${camp.contentId}" th:data-keyword="${camp.facltNm}">
						<div class="col-3">
							<img class="w-100" th:src="${camp.firstImageUrl}">
						</div>
						
						<div>
							<div><h4 th:text="${camp.facltNm}">???캠핑장</h4></div>
							<div class="mt-2" th:text="${camp.addr1}">??도 ??시 ??동 ???</div>
							<div class="small mt-3" th:text="${camp.lineIntro}">???는 어쩌구저쩌구...</div>
						</div>
					</div>
					</th:block>
				</div>
			</div>
		</article>
	</th:block>
	
	<th:block layout:fragment="script">
	<script>
	$(document).ready(function(){
		$(".campList-item").on("click",function(){
			let keyword = $(this).data("keyword");
			let id = $(this).data("id");
			
			location.href="/camp/detail?keyword=" + keyword + "&contentsId=" + id;
		});
		
		$("#searchBtn").on("click",function(){
			let search = $("#search").val();
			
			location.href="/camp/search?keyword=" + search;
		});
	});
	</script>
	</th:block>
</html>