  <!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/main.html}">
    
<th:block layout:fragment="css">
<link rel="stylesheet" href="/static/css/trip.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="/static/css/boardDetail.css">
</th:block>

	<th:block layout:fragment="contents">
		<article id="main-article">
			<div class="p-5" id="id" th:data-id="${trip.detailCommon.contentid}">
				<div>
					<h2 class="title-margin" th:text="${trip.detailCommon.title}">관광지명</h2>
					<th:block th:if="${trip.detailCommon.firstimage != null}">
					<div class="d-flex justify-content-center">
						<img width=600 class="box-center" th:src="${trip.detailCommon.firstimage}">
					</div>
					</th:block>
				</div>
			</div>
			
			<div id="menu" class="d-flex w-100">
				<div id="information" class="menu-select menu-item cursor-pointer">
					<h4 id="info" class="font-weight-bold">상세정보</h4>
				</div>
				
				<div id="comment" class="menu-non-select menu-item cursor-pointer">
					<h4 id="comt">리뷰</h4>
				</div>
			</div>
			
			<div class="content p-4">
				<div id="information-item">
					<div th:text="${trip.detailCommon.overview}">내용은 이러이러합니다. 맑은 하늘과 바람이 불어 시원한 숲에서...</div>
					
					<div class="d-flex justify-content-center mt-5">
						<div>
							<div class="d-flex justify-content-center">						
								<img width=300	height=300 src="https://cdn.pixabay.com/photo/2024/01/01/23/41/trees-8482254_1280.jpg">
							</div>
							
							<div class="d-flex justify-content-center mt-3">
								<table class="text-center table">
									<tr>
										<th class="col-2">주소</th>
										<td class="col-4" th:text="${trip.detailCommon.addr1}"></td>
										<th class="col-3">홈페이지</th>
										<td class="col-3" th:utext="${trip.detailCommon.homepage}"></td>
									</tr>
									
									<tr>
										<th>휴일</th>
										<td th:utext="${trip.detailIntro.restdate}"></td>
										<th>이용시간</th>
										<th:block th:if="${trip.detailIntro.usetime} != null">
										<td th:utext="${trip.detailIntro.usetime}">??시 ??분 ~ ??시 ??분</td>
										</th:block>
										
										<th:block th:unless="${trip.detailIntro.usetime} != null">
										<td>X</td>
										</th:block>
									</tr>
									
									<tr>
										<th>전화번호</th>
										<td th:text="${trip.detailCommon.tel}">
										<th>입장료</th>
										<td th:text="${trip.detailIntro.usefee}"></td>
									</tr>
								</table>
								
							</div>
						</div>
					</div>
					
					<h4 class="mt-5">체험 안내</h4>
					
					<hr class="bg-dark">
					
					<div class="mb-4" th:utext="${trip.detailIntro.expguide}">체험요소는 ~~~~입니다</div>
				
				</div>
				
				<div id="comment-item" class="d-none">
					<div class="input-group">
						<input id="commentInput" type="text" class="form-control">
						<div class="input-group-append">
							<button id="commentBtn" class="btn btn-secondary" type="button">게시</button>
						</div>
					</div>
					
					<div>
						<!-- 리뷰 item -->
						<th:block th:each="comment : ${commentList}">
						<div class="d-flex mt-4 justify-content-between">
							<div class="d-flex">
								<div><b th:text="${comment.user.name}">아이디</b></div>
								
								<div class="ml-2" th:text="${comment.contents}">내용을 적었습니다</div>
							</div>
							
		    				<div class="mr-2">
		    					<th:block th:if="${session.userId == comment.userId}">
		    					<i class="bi bi-three-dots comment-three-dot"></i>
		    					<ul class="d-none text-center comment-list">
		    						<li class="d-none list-style-none">					
									<li class="comment-option" data-value="delete" th:data-id="${comment.id}">삭제하기</li>
								</ul> 
								</th:block>
	    					</div>
						</div>
						</th:block>
						<!-- 리뷰 item 끝 -->
					</div>
				</div>
			</div>
		</article>
	</th:block>
	
	<th:block layout:fragment="script">
	<script>
		$(document).ready(function(){
			// 상세정보
			$("#information").on("click", function(){
				$("#information-item").removeClass("d-none");
				$("#info").addClass("font-weight-bold");
				
				$("#comment-item").addClass("d-none");
				$("#comt").removeClass("font-weight-bold");
			});
			
			// 리뷰보기
			$("#comment").on("click", function(){
				$("#information-item").addClass("d-none");
				$("#info").removeClass("font-weight-bold");
				
				$("#comment-item").removeClass("d-none");
				$("#comt").addClass("font-weight-bold");
			});
			
			// 댓글 점3개 클릭
			$(".comment-three-dot").on("click",function(){
				if($(this).next().hasClass("d-none")){
					$(this).next().removeClass("d-none");			
				}else{
					$(this).next().addClass("d-none");
				}
			});
			
			// 댓글 삭제
			$(".comment-option").on("click",function(){
				let id = $(this).data("id");
				
				if(!confirm("댓글을 정말로 삭제하시겠습니까?")){
					return false;
				}
				
				$.ajax({
					type:"delete"
					,url:"/comment/delete"
					,data:{"contentId" : id}
					,success:function(response){
						if(response){
							location.reload();
						}else{
							alert("댓글 삭제 실패");
						}
					}
					,error:function(){
						alert("서버문제");
					}
				});
			});
			
			// 댓글 추가
			$("#commentBtn").on("click",function(){
				let comment = $("#commentInput").val();
				let contentId = $("#id").data("id");
				
				if(comment.length == 0){
					
					return false;
				}
				
				$.ajax({
					type: "post"
					,url: "/comment/create"
					,data:{
						"contentId" : contentId
						,"category" : 2
						,"contents" : comment
					}
					,success:function(response){
						if(response){
							alert("댓글 게시 성공!");
							location.reload();
						}else{
							alert("댓글 게시 실패!");
						}
					}
					,error:function(){
						alert("서버에러");
					}
				});
			});
		});
	</script>
	</th:block>
</html>