<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/main.html}">
    
<th:block layout:fragment="css">
<link rel="stylesheet" href="/static/css/trip.css">
</th:block>

	<th:block layout:fragment="contents">
		<article class="w-100">
			<div class="p-5">
					
				<div class="input-group w-100 mt-2">
					<div class="input-group-prepend">
						<select id="select" class="form-control">
							<option value="location" checked>지역</option>
							<option value="name">관광지명</option>
						</select>
					</div>			
					
					<input id="search" type="text" class="form-control" data-id="" readonly>
					
					<div class="input-group-append">
						<button id="searchBtn" class="btn btn-secondary">검색</button>
					</div>
				</div>
				
				<h2 class="mt-2">관광지</h2>
				
				<hr>
				
				<div id="list" th:data-count="${tripList.get(0).areaBaseList.allCount}">
					<!-- 리스트 -->
					<th:block th:each="trip : ${tripList}">
					<!-- 아이템 -->
					<div class="d-flex mb-2 list-item cursor-pointer p-2" th:data-id="${trip.areaBaseList.contentid}">
						<div class="col-3">
							<img class="w-100" th:src="${trip.detailCommon.firstimage}">
						</div>
						
						<div class="col-9">
							<div>
								<h3 th:text="${trip.detailCommon.title}">관광지 명</h3>
							</div>
							
							<th:block th:if="${trip.detailCommon.overview.length >= 30}">
							<div th:text="${#strings.substring(trip.detailCommon.overview,0,30) + '...'}">
								설명설명
							</div>
							</th:block>
							
							<th:block th:unless="${trip.detailCommon.overview.length >= 30}">
							<div th:text="${trip.detailCommon.overview}">
								설명설명
							</div>
							</th:block>
							
							<div class="small mt-1" th:text="${trip.detailCommon.addr1}">
								주소 : ~~
							</div>
						</div>
						<!-- 아이템 끝 -->
					</div>
					</th:block>
					<!-- 리스트  끝-->
					
					<div class="text-center mt-4">
					<th:block>
						<th:block th:if="${first != 1}">
						<a href="/trip/tripList?page=1"><<</a>
						</th:block>
						
						<th:block th:unless="${first != 1}">
						<span><<</span>
						</th:block>
					</th:block>
					
					<th:block>
						<th:block th:if="${first != 1}" th:with="number = ${first} - 1">
						<a th:href="|/trip/tripList?page=${number}|"><</a>
						</th:block>
						
						<th:block th:unless="${first != 1}">
						<span><</span>
						</th:block>
					</th:block>
					
					<th:block th:each="paging : ${paging.pageList}">
						<th:block th:if="${paging != page}">
							<a th:href="|/trip/tripList?page=${paging}|" th:text="${paging}"></a>
						</th:block>
							
						<th:block th:unless="${paging != page}">
							<span th:text="${paging}"></span>
						</th:block>
					</th:block>
					
					<th:block>
						<th:block th:if="${(end + 1) < paging.allPage}">
						<a th:href="|/trip/tripList?page=${end + 1}|">></a>
						</th:block>
						
						<th:block th:unless="${(end + 1) < paging.allPage}">
						<span>></span>
						</th:block>
					</th:block>
					
					<th:block>
						<th:block th:if="${end != paging.allPage}">
						<a th:href="|/trip/tripList?page=${paging.allPage}|">>></a>
						</th:block>
						
						<th:block th:unless="${end != paging.allPage}">
						<span>>></span>
						</th:block>
					</th:block>
						
					</div>
				</div>
	
			</div>
		</article>
	</th:block>
	
	<th:block layout:fragment="script">
	<script>
		$(document).ready(function(){
			$(".list-item").on("click", function(){
				let id = $(this).data("id");
				
				location.href="/trip/detail/" + id;
			});
			
			$("#select").on("change",function(){
				let select = $("#select").val();
				
				if(select == "location"){
					$("#search").attr("readonly",true);
				}
				
				if(select == "name"){
					$("#search").attr("readonly",false);
				}
			});
			
			$("#search").on("click",function(){
				let select = $("#select").val();
				
				if(select == "location"){
					window.open("/area",width = 700);
				}
			});
			
			$("#searchBtn").on("click",function(){
				let search = $("#search").val();
				let code = $("#search").data("id");
				
				if(search == null || search.length == 0){
					return false;
				}
				
				alert("search : " + search + "\n" + "code : " + code);
				
				//location.href="/trip/search?search=" + search + "&code=" + code;
			});
		});
	</script>
	</th:block>
</html>