<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/area.css">
<title>Insert title here</title>
</head>
<body>
	<div id="wrap">
		<div class="input-group">
			<div class="input-group-prepend">
				<input id="area" type="text" class="form-control" readonly>
			</div>
			<input id="siGunGu" type="text" class="form-control" readonly>
			<div>
				<button id="inputBtn" class="btn btn-success" type="button">확인</button>
			</div>
		</div>
		
		<div class="d-flex mt-3">
			<nav>
				<ul class="nav flex-column">
					<th:block th:each="area : ${areaList}">
					<li th:id="${area.name}" class="nav-list" th:text="${area.name}" th:data-name="${area.name}" th:data-id="${area.areaCode}">서울</li>
					</th:block>
				</ul>
			</nav>
			
			<th:block th:each="area : ${areaList}">
			<div th:id="${area.areaCode}" class="d-none gray-border flex-option text-center">
				<th:block th:each="siGunGu : ${area.siGunGuList}">
				<div th:text="${siGunGu.name}" class="list gray-border" th:data-name="${siGunGu.name}" th:data-id="${siGunGu.code}">
				
				</div>
				</th:block>
			</div>
			</th:block>
		</div>
	</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
<script>
	$(document).ready(function(){
		$("#1").removeClass("d-none");
		$("#서울").addClass("click-list");
		$("#area").val("서울");
		$("#area").data("id",$("#서울").data("id"));
		
		// 리스트 제어
		$(".list").on("click",function(){
			// 모든 list class를 가진 태그들은 click-list 삭제
			$(".list").removeClass("click-list");
			// 이 list를 가진 태그만 click-list를 추가
			$(this).addClass("click-list");
			// siGunGu를 담당하는 input에 이 정보를 기입하여 보여줘라
			$("#siGunGu").val($(this).data("name"));
			// siGunGu input data-id에 이 primary key를 기입
			$("#siGunGu").data("id",$(this).data("id"));
		});
		
		// 메뉴 리스트 제어
		$(".nav-list").on("click",function(){
			let id = $(this).data("id");
			let areaId = $("#area").data("id");
			
			// nav-list를 가진 모든 태그에 click-list 삭제
			$(".nav-list").removeClass("click-list");
			// 이 태그에만 click-list 추가
			$(this).addClass("click-list");
			// siGunGu를 보여주는 모든 태그에 d-none을 설정
			$("#" + areaId).addClass("d-none");
			// 여기에 대응되는 siGunGu 태그만 화면에 보여라
			$("#" + id).removeClass("d-none");
			// area를 담당하는 input에 이 정보를 기입하여 보여줘라
			$("#area").val($(this).data("name"));
			// area input의 data-id에 area primary key를 기입
			$("#area").data("id",$(this).data("id"));
			// siGunGu 삭제
			$("#siGunGu").val("");
			$("#siGunGu").data("id","");
		});
		
		// 확인 버튼 눌렀을때 이벤트
		$("#inputBtn").on("click",function(){
			let areaValue = $("#area").val();
			let areaId = $("#area").data("id");
			let siGunGuValue = $("#siGunGu").val();
			let siGunGuId = $("#siGunGu").data("id");
			
			if(areaId.length == 0 || areaValue.length == 0){
				window.close();
			}
			
			let search = areaValue + " " + siGunGuValue;
			let code = areaId + "/" + siGunGuId;
			
			
			opener.document.getElementById("search").value = search;
			opener.document.getElementById("search").setAttribute("data-id", code);
		
			window.close();
		});
	});
</script>
</body>
</html>